@model MVCHotel.Models.Producto

@{
    ViewData["Title"] = "Delete";
}

<br /><br />

<h3>Está seguro que desea eliminar el Producto?</h3>
<div>
    <h4>Producto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombreProducto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombreProducto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.descripcionProducto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descripcionProducto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cantidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.imagen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.imagen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.precioProducto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.precioProducto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.categoriaProducto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.categoriaProducto.nombre)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="idProducto" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
